TODO
*.pyc
BGWpy.egg-info
build
build/*
dist/*/
dist/*.egg
# Files produced by the tests not referenced
Examples/[0-9]*

# Configuration files
BGWpy/config/user_configuration.py
config/user_configuration.py
