# Developement files
tmp
tmp.Tests
dev/tests
TODO

# Files produced by the setup script
*.pyc
BGWpy.egg-info
build
build/*
dist
dist/*/
dist/*.egg

# Files produced by the tests not referenced
Examples/MakingStructures/[0-9]*
Examples/QuantumEspresso/*/[0-9]*
Examples/Abinit/*/[0-9]*

# Configuration files
BGWpy/config/user_configuration.py
config/user_configuration.py

# ctags
tags
