# Developement files
tmp
dev/tests
TODO

# Files produced by the setup script
*.pyc
BGWpy.egg-info
build
build/*
dist/*/
dist/*.egg

# Files produced by the tests not referenced
Examples/[0-9]*

# Configuration files
BGWpy/config/user_configuration.py
config/user_configuration.py

# ctags
tags
