include *.md
include *.rst
include *.txt
include INSTALL
graft Examples
graft config
prune Examples/[0-9]*
prune Examples/*/[0-9]*
exclude config/user_configuration.py
exclude BGWpy/config/user_configuration.py
exclude BGWpy/tags
